body{
  background-color:rgba(0,0,0,0.32);
  font-family:hattenschweiler,imapct,fantasy;
  font-size:24px;
}
h2{
  text-transform: uppercase;
  color:black;
}
h1{
  text-transform:uppercase;
  text-align: left;
}
p{
  text-transform:Capitalize;
  line-height: 1.4em;
}
#contact{
  font-style: italic;
}
h2.intro:first-letter{
  font-size: 200%
}
a:link{
  color:blue;
}
img.logo{
  width:960px;
  height:1000px;
  border: 1px solid pink;
}
img.one,img.two{
  width:400px;
  height:500px;
  border: 2px ridge black;
}
